<section class="login-controls">
  <div class="row text-center">
      <p>
      <%= link_to '/auth/google', class: 'large round success button' do %>
        <%= fa_icon :google %> Sign in with Google
      <% end %>
      or
      <%= link_to '/auth/github', class: 'large round success button' do %>
        <%= fa_icon :github %> Sign in with GitHub
      <% end %>
    </p>
  </div>
</section>

