<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @event.label %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @event.started_at %>
</p>

<p>
  <strong>Ended at:</strong>
  <%= @event.ended_at %>
</p>
