<h2>Experiment <%= @event.label %><h2>
<h3>Readings from <%= @device.name %></h3>

<% SensorEdge::KINDS.each do |kind| %>
  <h4><%= kind %></h4>

  <%= content_tag :canvas, class: 'sensor-data',
        data: { sensor_url: event_device_sensor_url() } %>
<% end %>
