<h2 class="room-info">
  <div class="room-name">Room <%= @room.name %> on <%= @room.map.name %></div>

  <div id="occupancy-indicator">
    Hello Dropbox
  </div>
</h2>

<% SensorEdge::KINDS.each do |kind| %>
<div class="sensor-data-container">
  <h3><%= sensor_kind_name kind %></h3>
  <%= content_tag :canvas, '', class: 'sensor-data',
        data: { sensor_url: room_sensor_url(@room, kind, format: :json),
                sensor_threshold: Room::SENSOR_THRESHOLDS[kind] || '' } %>
</div>
<% end %>
