svg#map {
  fill: none;
  fill-opacity: 35%;
  stroke: #002fff;
  stroke-width: 4;
  stroke-miterlimit: 10;

  g.free * {
    stroke: #74b800;
    fill: #74b800;
  }

  g.busy * {
    stroke: #b80040;
    fill: #b80040;
  }
}
