// Place all the styles related to the Warnings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edge-field {
  display: inline-block;
  margin-right: -10rem;
  float: left;

  .small.button {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}
