<!DOCTYPE html>
<html>
  <body>
    <h3>Dear <%= @token.email %>,</h3>

    <p>
      You are receiving this e-mail because someone at your party appears to be
      showing signs of intoxication. Find them soon, if you don't enjoy
      cleaning up vomit.
    </p>

    <p>
      If you haven't registered an account, please ignore this e-mail. Someone
      most likely mistyped their e-mail.
    </p>
  </body>
</html>
